<!-- <div class="modal-content"> -->

<div class="new-popupTitle mb-0" mat-dialog-title>
    <h1 class="colorwhite mat-dialog-title"> {{uploadTitle}}</h1>
    <div class="popup-close">
        <i class="{{_global.icnCancel}}" aria-hidden="true" (click)="close()"></i>
    </div>
</div>


<!-- <div class="modal-header">
        <h4 class="modal-title">Upload Documents</h4>
    </div> -->

<div class="mat-dialog-content mt-3 mb-1 pl-3 pr-3" mat-dialog-content>
    <div *ngIf="type == 'BOTH' && mode == 'MANAGE'">
        <mat-form-field appearance="outline" class="full-width pl-0 pr-0">
            <mat-label>Select document type</mat-label>
            <mat-select placeholder="Select document type" [(ngModel)]="updType" (ngModelChange)="documentChange()">
                <mat-option value="E">Select From Document Repository</mat-option>
                <mat-option value="N">Manual Upload</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="row upload-file-new" *ngIf="updType == 'E'">
            <div class="col-md-11 clearPadding mat-lkp full-width pl-in-0">
                <lims-lookup [info]="documentInfo" #documents (onSelect)="selectDocument($event)"></lims-lookup>
            </div>
            <div class="col-md-1 uploadBtn uploadBtn_2" (click)="upload()" matTooltip="Upload" id="bothBtnLoader"
                btnLoader [isLoaderOn]="isLoaderStartIcn">
                <!-- <button type="submit" class="btn-save" mat-raised-button (click)="upload()">Upload</button> -->
                <i class="material-icons">
                    cloud_upload
                </i>
            </div>
        </div>
    </div>
    <div class="row upload-file-new mt-1 mb-2" *ngIf="mode == 'MANAGE' && (type == 'SINGLE'|| updType == 'N')">
        <div class="col-md-11 clearPadding">
            <div class="upload-new">
                <input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..."
                    #fileInput />
                <div class="upload-file">
                    <label for="cin">Choose File</label>
                </div>
                <div class="file-text">
                    <!-- <mat-chip-list #chipList aria-label="Fruit selection" *ngIf="imageText != ''">
                            <mat-chip (removed)="remove()">
                                {{imageText}}
                                <i class="material-icons" matChipRemove *ngIf="removable">cancel</i>
                            </mat-chip>
                        </mat-chip-list> -->

                    <div class="upload-block" *ngIf="imageText !=''">
                        <div class="upload-text" matTooltip="{{imageText}}">
                            <span>
                                {{imageText}}
                            </span>
                            <i class="{{_global.icnCancel}}" aria-hidden="true" (click)="remove()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 uploadBtn" (click)="upload()" matTooltip="Upload" id="singleBtnLoader" btnLoader
            [isLoaderOn]="isLoaderStart">
            <!-- <button type="submit" class="btn-save" mat-raised-button (click)="upload()">Upload</button> -->
            <i class="material-icons">
                cloud_upload
            </i>
        </div>
    </div>
    <div class="mt-3 mb-2">
        <lims-grid (onActionClicked)="onActionClicked($event);" [headers]='headerData' [dataSource]='dataSource'
            [actions]='actions' [docSource]='docSource' [type]="tranBO.type" [removeAction]="removeAction"></lims-grid>
    </div>
    <div align="right" *ngIf="this.tranBO.encryptedKey">
        <button type="button" class="btnbase btn-blue"
            *ngIf="mode == 'MANAGE' && dataSource && dataSource.data && dataSource.data.length > 0" mat-raised-button
            (click)="mergeUploadFiles()"> Merge Documents </button>
        <button type="button" class="btnbase btn-blue" mat-raised-button *ngIf="isShowCumulativeRpt"
            (click)="generateCumulativeReport()">
            Generate Cumulative ARDS Report
        </button>
    </div>
</div>

<!-- </div> -->