<router-outlet></router-outlet>
<notifier-container></notifier-container>
<!-- <ngx-ui-loader [loaderId]="loaderName"></ngx-ui-loader> -->

<ngx-ui-loader [fgsColor]="loader.fgsColor" [fgsType]="loader.fgsType" [bgsColor]="loader.bgsColor"
  [bgsOpacity]="loader.bgsOpacity" [bgsPosition]="loader.bgsPosition" [bgsSize]="loader.bgsSize"
  [bgsType]="loader.bgsType" [overlayColor]="loader.overlayColor" [hasProgressBar]="loader.hasProgressBar"
  [text]="loader.text" [pbColor]="loader.pbColor" [pbDirection]="loader.pbDirection" [pbThickness]="loader.pbThickness">
</ngx-ui-loader>



<!-- <div class="container-loader">
  <div class="banner">
    LOADING
    <div class="banner-left"></div>
    <div class="banner-right"></div>
  </div>
</div> -->

<!-- <div class="timeline-item">
  <div class="animated-background">
    <div class="background-masker head-top"></div>
    <div class="background-masker subhead-top"></div>
    <div class="background-masker cont-top"></div>
  </div>
  <div class="animated-background">
    <div class="background-masker head-top"></div>
    <div class="background-masker subhead-top"></div>
    <div class="background-masker cont-top"></div>
  </div>
</div> -->