<div class="row">
    <div class="col-12">
        <div class="printReq">
        <div class="cardtitle_md">ARDS Print Requests</div>
        <div>
            <lims-grid (onActionClicked)="onActionClicked($event, 'REQ')" [headers]="prepareHeaders('PRINT_REQ')"
                [dataSource]="getDataSource('PRINT_REQ')" [actions]="getActions('PRINT_REQ')">
            </lims-grid>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="printReq">
        <div class="cardtitle_md">Print History</div>
        <div *ngIf="type == 'MAIN'">
            <lims-grid (onActionClicked)="onActionClicked($event, 'HIS')" [headers]="prepareHeaders('PRINT_HIS')"
                [dataSource]="getDataSource('PRINT_HIS')" [removeAction]="removeAction" [usrActions]="usrActions"
                [actions]="getActions('PRINT_HIS')">
            </lims-grid>
        </div>
        <div class=" mt-2" *ngIf="type != 'MAIN'">
            <lims-grid (onActionClicked)="onActionClicked($event, 'HIS')" [headers]="prepareHeaders('PRINT_HIS')"
                [dataSource]="getDataSource('PRINT_HIS')" [removeAction]="removeAction" [usrActions]="conUsrActions"
                [actions]="getActions('PRINT_HIS')">
            </lims-grid>
        </div>
    </div>
</div>
</div>